<container class="about-us-container">
  <h1>About Us</h1>
    <h2>Welcome to the Jungle!</h2>
      <p>We aim to encourage and entertain your want to 'Jungle-fy' your homes! We believe that every home should reflect nature inside as much as the outside does around it...
        Each plant is adopted from seed by one of our dedicated employees. They treat the plant like their own child. The plants are grown in a unique environment, surrounded by their peers where they can relax to the sounds of REM over the loudspeakers.</p>
</container>