// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about-us-container {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
    text-align: left;
    font-weight: 500;
  }

  h2 {
    color:  #00751d;
    font-size: 2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
    margin-top: 1rem;
  }
}